<div class="container">
    <a class="back" [routerLink]="['/']">Volver</a>
    <hr>
    <h2>Drop & drag Files</h2>
    <p>En este componente vas a aprender como hacer un Drop & drag files </p>
    <ul>
        <li>
            Necesitamos instalar las siguientes independecias:
            <ol>
                <li><span style="color:rgb(226, 101, 43)">ng-drag-drop</span></li>
                <li><span style="color:rgb(226, 101, 43)">ng2-file-upload</span></li>
            </ol>
        </li>
        <li>
            Luego creamos una directiva para el drop & drag (en este caso lo llamamos <span style="color:rgb(173, 21, 173)">file-drop.directive.ts</span>).<br> Creamos la directive con el siguiente comando "<span style="color:rgb(226, 101, 43)">ng g d file-drop</span>"
        </li>
        <li>Luego creamos o utilizamos un componente que contenga dicha directive.</li>
        <li>Opctional: Tambien podemos crear un models de File por si queremos que tenga una arquitectura especifica.</li>
    </ul>
    <hr>
    <div class="code-example">
        <div class="box">
            <div class="dropzone" fileDrop (filesDropped)="handleDrop($event)" (filesHovered)="dropzoneState($event)" [ngClass]="{'active': dropzoneActive}">
                Drag and Drop File
            </div>
        </div>
    </div>
    <div class="code-example" *ngIf="files">
        <h2>Lista de los archivos arrastrados ({{files.length}})</h2><br>
        <div *ngFor="let file of files">Nombre del archivo: {{file.file.name}} - Tipo de formato del archivo: {{file.file.type}}
            <hr>
        </div>
    </div>
    <div class="code-example">
        <h3 class="title">Directive</h3>
        <p>Creamos un directive para tener un Drop & Drag File.</p>
        <p>Para eso generamos un directive atravez de consola con: <span>npm g d name</span></p>
        <hr>
        <textarea [innerHTML]="exampleDirective"></textarea>
    </div>
    <div class="code-example">
        <h3 class="title">Componente</h3>
        <p>Creamos un Componente para llamar la directive del Drop & Drag File.</p>
        <p>Para eso generamos un componente atravez de consola con: <span>npm g c name</span></p>
        <hr>
        <textarea [innerHTML]="exampleComponent"></textarea>
    </div>
    <div class="code-example">
        <h3 class="title">HTML & SASS ( css )</h3>
        <p>Obviamente el SASS o CSS es opcional</p>
        <textarea>{{exampleComponentHtml}}</textarea>
    </div>
    <div class="code-example">
        <h3 class="title">Models (Opcional)</h3>
        <p>Aca te dejo un ejemplo de un modelo de File como estructura que queremos que tengan los archivo que subimos.</p>
        <textarea [innerHTML]="exampleModels"></textarea>
    </div>
</div>