$red: rgb(226, 43, 52);
$red-hover: rgb(143, 31, 12);
$orange:rgb(255, 145, 0);
$orange-hover:rgb(182, 109, 15);
$black: #222;
$black2: #2b2b2b;
$white: #fff;
$white-hover: rgb(196, 196, 196);
$violet: rgb(173, 21, 173);
$violet-hover: rgb(112, 12, 112);